@import url(http://fonts.googleapis.com/css?family=Roboto);

#top{
  background-image: url("campus-shot-1200.jpg");
  margin-left: 0;
  margin-right: 0;
}
#profilePic{
  outline-style: groove;
  outline-width: thick;
  outline-color: purple;
}
h1{
  /*padding: 20px;*/
  /*<!--background: red;*/
  /*color: black;*/
  transition: all 2s linear;-->
  /*<!-- can use ease, ease-in, ease-out, linear*/
  /*search mdn-->*/

}
h1:hover {
  /*background: blue;*/
  /*opacity: .5;*/
  /*padding: 20px;*/
  box-shadow: 0px 2px 2px #777;
}
.intro{
  text-align:center;}
section{
  padding: 10px;
  border: 40px;
}
p{
  text-align: center;

}
ol{
  margin: 30px;
}
section.one {
  margin-right: 300px;
  margin-left: 300px;
  outline-style: groove;
  outline-width: thick;
  width: 300px;
  height: 400px;
  outline-color: purple;
  background-color: gray;
}
#info{
  background: rgba(200,200,200, 1);
  font-family: 'Roboto', Arial;
}
